<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Display - Weather To Wear</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('partials/navbar') %>
        </header>

        <div class="container">
            <h2>Item Details</h2>
            <div class="row">
                <div class="col-md-6">
                    <div id="item-images" class="carousel slide"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Add item images here -->
                            <div class="carousel-item active">
                                <img src="/images/<%= ad.Image %>"
                                    class="d-block w-100" alt="...">
                                
                            </div>
                            <!-- <div class="carousel-item active">
                                <img src="/images/<%= ad.Image %>"
                                    class="d-block w-100" alt="...">
                            </div> -->
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#item-images"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#item-images"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><%= ad.ClothingName %></h3>
                    <p>Heat Index: <%= ad.HeatIndex %></p>
                    <p>Price: $<%= ad.Price %></p>
                    <p>Description: <%= ad.Description %></p>
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Comments</h2>
            <form id="commentForm" action="/postComment" method="post">
                <input type="hidden" name="AdID" value="<%= ad.AdID %>">
                <input type="hidden" name="Username" value="<%= session.Username %>">
                <div class="mb-3">
                    <label for="userComment" class="form-label">Comment</label>
                    <textarea class="form-control" name="Comment" id="userComment" rows="3"
                        placeholder="Your comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post
                    Comment</button>
            </form>
            <div id="commentsSection"></div>
        </div>

        <div>
            <% comments.forEach(function(comment) { %>
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="card-text"><%= comment.Comment %></p>
                            <form action="/flagComment" method="post">
                                <input type="hidden" name="CommentID" value="<%= comment.CommentID %>">
                                <button type="submit" class="btn btn-danger">Flag</button>
                            </form>
                        <h6 class="card-subtitle text-muted text-end">-<%= comment.Username %></h6>
                    </div>
                    
                </div>
                
            <% }); %>
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>